/*Tags*************************************************************************/

/*Round the list top edges*/
ul :first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*Round the list bottom edges*/
ul :last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Materialize Sticky Footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

/*Materialize Sticky Footer*/
main {
  flex: 1 0 auto;
}


/*Classes**********************************************************************/

/*Clear unnecessary padding from top of footer*/
footer.page-footer {
  padding-top: 0;
}

/*Small space to left of logo*/
a.brand-logo {
  padding-left: 10px;
}

/*Keeps bottom of <main> fixed against the footer*/
div.row.main-row, footer.page-footer {
  margin: 0;
}

/*Create space to the left when the footer is left aligned*/
div.footer-copyright {
  padding-left: 10px;
}

/*Keeps text from overlapping cancel button on list item*/
.collection.with-header .collection-item.avatar {
  padding-right: 40px;
}

/*Change cursor to a pointer over these elements*/
.datepicker, .input-field label {
  cursor: pointer;
}

/*Retain the arrow pointer over these elements*/
.input-field i, li.collection-header {
  cursor: default;
}

/*Remove all borders from the tracked list*/
.collection {
  border: none;
}

/*DatePicker Formats*/
.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #a1887f !important;
}

.picker__nav--prev::before:hover {
  color: #fff !important;
}

.collection-header {
  line-height: 1;
}

/*Removes margin around list header item*/
.collection-header h5, .collection-header p {
  margin: 0;
}

.toast {
  background-color: #0091ea;
}


.map-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row .col.arrow-spacer {
  /*display: inline-block;*/
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  /*height: 100%;*/
}

/*CSS TRICK FOR ARROWS*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #795548;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #795548;
}

.arrow-vert-body {
  width: 5px;
  height: 100px;
  background-color: #795548;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

/*IDs**************************************************************************/

#map-canvas {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*CSS Trick to maintain aspect ratio in flex container*/
  padding-top: 70%;
}

#map-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Media Queries****************************************************************/

/*Over-ride the default left alignment for tablets on down and clear padding*/
@media only screen and (max-width: 992px) {
  div.footer-copyright {
    text-align: center;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  #map-container {
    padding-right: 0;
  }
}
