/*Tags*************************************************************************/
/*Round the list top edges*/
ul :first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*Round the list bottom edges*/
ul :last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Materialize Sticky Footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

/*Materialize Sticky Footer*/
main {
  flex: 1 0 auto;
}

/*Classes**********************************************************************/
/*Clear unnecessary padding from top of footer*/
footer.page-footer {
  padding-top: 0;
}

/*Small space to left of logo*/
a.brand-logo {
  padding-left: 10px;
}

/*Keeps bottom of <main> fixed against the footer*/
div.row.main-row, footer.page-footer {
  margin: 0;
}

/*Create space to the left when the footer is left aligned*/
div.footer-copyright {
  padding-left: 10px;
}

/*Keeps text from overlapping cancel button on list item*/
.collection.with-header .collection-item.avatar {
  padding-right: 40px;
}

/*Change cursor to a pointer over these elements*/
.datepicker, .input-field label {
  cursor: pointer;
}

/*Retain the arrow pointer over these elements*/
.input-field i, li.collection-header {
  cursor: default;
}

/*Remove all borders from the tracked list*/
.collection {
  border: none;
}

.collection .collection-item.avatar {
  min-height: 0;
}

.title {
  padding-bottom: 5px;
  padding-left: 5px;
}

/*DatePicker Formats*/
.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #a1887f !important;
}

.picker__nav--prev::before:hover {
  color: #fff !important;
}

.collection-header {
  line-height: 1;
}

/*Removes margin around list header item*/
.collection-header h5, .collection-header p {
  margin: 0;
}

.toast {
  background-color: #0091ea;
}


.map-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row .col.arrow-spacer {
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.modal-content .row, .modal-content h4 {
  margin-bottom: 0;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
  margin-right: 20px;
  background-color: #0091ea;
}

.modal-content, .modal .modal-footer {
  background-color: #bcaaa4;
}

/*Form Labels*/
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field select:focus + label {
  /*light-blue accent-4*/
 color: #0091ea;
}

/* valid color */
.input-field input[type=text].valid, .input-field input[type=tel].valid, .input-field input[type=password].valid, .input-field input[type=email].valid, .input-field select.valid, .select-wrapper input.select-dropdown {
  /*green darken-2*/
 border-bottom: 1px solid #1B5E20;
 box-shadow: 0 1px 0 0 #1B5E20;
}

/*Select menu*/
.dropdown-content {
  /*brown lighten-4*/
  background-color: #d7ccc8;
  border-radius: 10px;
}

.dropdown-content li {
  /*brown lighten-3*/
  /*background-color: #bcaaa4;*/
}

.dropdown-content li:hover:not(.disabled) {
  /*light-blue accent-4*/
  background-color: #0091ea;
}

.dropdown-content li.selected {
  /*brown*/
  /*background-color: #795548;*/
}

.dropdown-content li.disabled {
  /*brown lighten-3*/
  background-color: #bcaaa4;
  /*brown*/
  color: #795548;
}

.dropdown-content li > a, .dropdown-content li > span, .select-dropdown li.disabled > span {
  /*brown*/
  color: #795548;
}


/*Info Window Styles*/
.iw-title {
  margin-top: 0;
}

/*CSS TRICK FOR ARROWS*/
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #795548;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #795548;
}

.arrow-vert-body {
  width: 5px;
  height: 100px;
  background-color: #795548;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid blue;
}

/*IDs**************************************************************************/

#map-canvas {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*CSS Trick to maintain aspect ratio in flex container*/
  padding-top: 70%;
}

#map-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Media Queries****************************************************************/

/*Over-ride the default left alignment for tablets on down and clear padding*/
@media only screen and (max-width: 992px) {
  div.footer-copyright {
    text-align: center;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  #map-container {
    padding-right: 0;
  }
}


/*Material Design Icons CSS - Required for Icons to fuction*/
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
